@model LibraryManagementSystem1.Models.BooksModel
@using LibraryManagementSystem1.Models;
@{
    ViewBag.Title = "_BookListPaging";
}


<style>

    .selectBtn, .insertBtn, .editBtn, .deleteBtn:hover {
        cursor: pointer;
    }
</style>



<div style="padding-left:20px;padding-right:20px;">
    <div class="table-responsive custom-table-responsive">
        <table id="table" class="table">
            <thead style="width:auto;">
                <tr class="">

                    <th scope="col">Book Id</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Book Category</th>
                    <th scope="col">Book Publisher</th>
                    <th scope="col">Book Quantity</th>
                    <th>
                        <button type="button"
                                style="margin:10px 0;padding:10px;width:auto"
                                data-target="#editModal"
                                data-toggle="modal"
                                data-backdrop="static"
                                data-keyboard="false"
                                class="insertBtn btn mb-2 mb-md-0 btn-primary btn-round">
                            Insert Book
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.GetBooks)
                {
                    <tr scope="row" class="">

                        <td>
                            @i.BookId
                        </td>
                        <td>@i.BookName</td>
                        <td>
                            @i.BookCategoryName
                        </td>
                        <td>@i.BookPublisherName</td>
                        <td>@i.BookQuantity</td>
                        <td>
                            <a style="color:blue;"
                               class="editBtn"
                               data-target="#editModal"
                               data-toggle="modal"
                               data-backdrop="static"
                               data-keyboard="false"
                               data-id="@i.BookId"
                               data-name="@i.BookName"
                               data-category="@i.BookCategoryId"
                               data-publisher="@i.BookPublisherId"
                               data-quantity="@i.BookQuantity"
                               data-isActive="@i.IsActive">
                                <img style="width:30px;height:30px;" src="~/images/icons/edit.svg" />
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a style="color:blue;"
                               data-target="#deleteModal"
                               data-toggle="modal"
                               data-backdrop="static"
                               data-keyboard="false"
                               class="deleteBtn"
                               data-name="@i.BookName"
                               data-id="@i.BookId">
                                <img style="width:30px;height:30px;" src="~/images/icons/trash.svg" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <center>
        <div class="btn btn-round btn-outline btn-fb text-left" style="margin-top:10px;margin-bottom:20px;">
            <nav class="block-27" style="text-align: center;">

                <ul style="user-select: none;">
                    @if (Model.PageNumber != 1)
                    {
                        <li>
                            <a id="pre">&lt;</a>
                        </li>
                    }
                    else
                    {
                        <li class="disabled">
                            <a id="pre1">&lt;</a>
                        </li>
                    }

                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        if (i == Model.PageNumber)
                        {
                            <li class="active"><a id="btnPage">@i</a></li>
                        }
                        else
                        {
                            <li><a id="btnPage">@i</a></li>
                        }
                    }

                    @if (Model.PageNumber != Model.TotalPages)
                    {
                        <li>
                            <a id="next">&gt;</a>
                        </li>
                    }
                    else
                    {
                        <li class="disabled">
                            <a id="next1">&gt;</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </center>

</div>


<style>

    .editBtn img, .deleteBtn img {
        transition: all 0.1s ease;
        cursor: pointer;
    }

        .editBtn img:hover, .deleteBtn img:hover {
            transform: scale(1.1);
        }

    .block-27 ul li {
        transition: all 0.1s ease;
        cursor: pointer;
    }

        .block-27 ul li:hover {
            transform: scale(1.1);
        }

    #pre:hover {
        cursor: pointer;
    }

    #btnPage:hover {
        cursor: pointer;
    }

    #next:hover {
        cursor: pointer;
    }

    .pagination {
        user-select: none;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>


